@tailwind utilities;

@layer utilities {
  .custom-shape, .custom-shape1 {
    position: relative;
    background-color: var(--foreground2);
    border-radius: 10px; /* Rounds the entire div */
    overflow: hidden; /* Ensures the content inside doesn't spill over the clip-path */
  }

  .custom-shape1 {
    clip-path: polygon( 0% 1.215%,0% 1.215%,0.014% 1.018%,0.055% 0.831%,0.119% 0.657%,0.206% 0.497%,0.313% 0.356%,0.438% 0.234%,0.578% 0.136%,0.731% 0.062%,0.896% 0.016%,1.07% 0%,98.93% 0%,98.93% 0%,99.104% 0.016%,99.269% 0.062%,99.422% 0.136%,99.562% 0.234%,99.687% 0.356%,99.794% 0.497%,99.881% 0.657%,99.945% 0.831%,99.986% 1.018%,100% 1.215%,100% 75.213%,100% 75.213%,99.986% 75.41%,99.945% 75.597%,99.881% 75.771%,99.794% 75.93%,99.687% 76.072%,99.562% 76.193%,99.422% 76.292%,99.269% 76.366%,99.104% 76.412%,98.93% 76.428%,98.161% 76.428%,98.161% 76.428%,97.988% 76.444%,97.823% 76.49%,97.67% 76.563%,97.53% 76.662%,97.405% 76.784%,97.298% 76.925%,97.211% 77.084%,97.146% 77.259%,97.106% 77.446%,97.092% 77.643%,97.092% 84.585%,97.092% 84.585%,97.078% 84.783%,97.037% 84.969%,96.972% 85.144%,96.885% 85.303%,96.778% 85.445%,96.654% 85.566%,96.514% 85.665%,96.36% 85.739%,96.196% 85.785%,96.022% 85.8%,87.101% 85.8%,87.101% 85.8%,86.927% 85.816%,86.763% 85.862%,86.609% 85.936%,86.469% 86.035%,86.345% 86.156%,86.238% 86.298%,86.151% 86.457%,86.086% 86.631%,86.045% 86.818%,86.031% 87.016%,86.031% 98.677%,86.031% 98.677%,86.017% 98.874%,85.977% 99.061%,85.912% 99.235%,85.825% 99.394%,85.718% 99.536%,85.594% 99.657%,85.453% 99.756%,85.3% 99.83%,85.135% 99.876%,84.962% 99.892%,1.07% 99.892%,1.07% 99.892%,0.896% 99.876%,0.731% 99.83%,0.578% 99.756%,0.438% 99.657%,0.313% 99.536%,0.206% 99.394%,0.119% 99.235%,0.055% 99.061%,0.014% 98.874%,0% 98.677%,0% 1.215% );
  }
  
  .custom-shape {
    clip-path: polygon( 100% 1.215%,100% 1.215%,99.986% 1.018%,99.945% 0.831%,99.881% 0.657%,99.794% 0.497%,99.687% 0.356%,99.562% 0.234%,99.422% 0.136%,99.269% 0.062%,99.104% 0.016%,98.93% 0%,1.07% 0%,1.07% 0%,0.896% 0.016%,0.731% 0.062%,0.578% 0.136%,0.438% 0.234%,0.313% 0.356%,0.206% 0.497%,0.119% 0.657%,0.055% 0.831%,0.014% 1.018%,0% 1.215%,0% 75.213%,0% 75.213%,0.014% 75.41%,0.055% 75.597%,0.119% 75.771%,0.206% 75.93%,0.313% 76.072%,0.438% 76.193%,0.578% 76.292%,0.731% 76.366%,0.896% 76.412%,1.07% 76.428%,1.839% 76.428%,1.839% 76.428%,2.012% 76.444%,2.177% 76.49%,2.33% 76.563%,2.471% 76.662%,2.595% 76.784%,2.702% 76.925%,2.789% 77.084%,2.854% 77.259%,2.894% 77.446%,2.908% 77.643%,2.908% 84.585%,2.908% 84.585%,2.922% 84.783%,2.963% 84.969%,3.028% 85.144%,3.115% 85.303%,3.222% 85.445%,3.346% 85.566%,3.486% 85.665%,3.64% 85.739%,3.804% 85.785%,3.978% 85.8%,12.899% 85.8%,12.899% 85.8%,13.073% 85.816%,13.237% 85.862%,13.391% 85.936%,13.531% 86.035%,13.655% 86.156%,13.762% 86.298%,13.849% 86.457%,13.914% 86.631%,13.955% 86.818%,13.969% 87.016%,13.969% 98.677%,13.969% 98.677%,13.983% 98.874%,14.023% 99.061%,14.088% 99.235%,14.175% 99.394%,14.282% 99.536%,14.406% 99.657%,14.547% 99.756%,14.7% 99.83%,14.865% 99.876%,15.038% 99.892%,98.93% 99.892%,98.93% 99.892%,99.104% 99.876%,99.269% 99.83%,99.422% 99.756%,99.562% 99.657%,99.687% 99.536%,99.794% 99.394%,99.881% 99.235%,99.945% 99.061%,99.986% 98.874%,100% 98.677%,100% 1.215% );
  }

  .custom-shape1-none {
    background-color: var(--foreground2);
    clip-path: none;
  }
}

.bg-blur-1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
}

.bg-blur-1 > div {
  flex: 1;
  height: 100%;
  backdrop-filter: blur(var(--blur-level));
  -webkit-backdrop-filter: blur(var(--blur-level));
  background: rgba(0, 0, 0, 0.1);
}

.blur-1 { --blur-level: 5px; }
.blur-2 { --blur-level: 4px; }
.blur-3 { --blur-level: 3px; }
.blur-4 { --blur-level: 2px; }
.blur-5 { --blur-level: 1px; }
.blur-6 { --blur-level: 0px; }